<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="[%t] - %d %-5p [%c] %m%n" />
        </layout>
    </appender>

    <appender name="FA2" class="org.apache.log4j.FileAppender">
        <param name="File" value="${log.dir}commcareToReportingMapper.log" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="[%t] - %d %-5p [%c] %m%n" />
        </layout>
    </appender>

    <appender name="Email" class="org.motechproject.care.reporting.logger.EmailAppender">
        <param name="SMTPHost" value="gmail-smtp-in.l.google.com" />
        <param name="BufferSize" value="512" />
        <param name="From" value="ananya_errors@thoughtworks.com" />
        <param name="To" value="motech_care@thoughtworks.com" />
        <param name="Subject" value="Ananya Care Reporting Error | DEV | {hostname} | {bodyhash}" />
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="[%t] - %d %-5p [%c] %m%n" />
        </layout>
        <param name="Threshold" value="ERROR" />
    </appender>

    <logger name="commcare-reporting-mapper">
        <level value="DEBUG" />
    </logger>

    <root>
        <level value="ERROR" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FA2" />
        <appender-ref ref="Email" />
    </root>

</log4j:configuration>